<h1>Person View</h1>
<div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Person">
   Nombre: <span property="v:name">{name}</span><br />
   Nick: <span property="v:nickname">{nickname}</span><br />
   Url: <a href="{url}" rel="v:url">{url}</a><br />
   Dirección: <br />
   <span rel="v:address">
      <span typeof="v:Address">
         <span property="street-address">{street-address}</span>,<br />
         <span property="v:city">{city}</span><br />
         <span property="v:region">{region}</span><br />
         <span property="v:postal-code">{postal-code}</span><br />
         <span property="v:country-name">{country-name}</span><br />
      </span>
   </span>
   Título: <span property="v:title">{title}</span><br />
   Compañía: <span property="v:affiliation">{affiliation}</span><br />
   Amigos:<br />
   <a href="{friend}" rel="v:friend">{friend}</a>
</div>